<div class="p-grid">
  <div class="p-col">
</div>
  <div class="p-col-fixed" style="width:150px">
      <div class="box">
        <button routerLink="/shop/add" pButton pRipple type="button" label="Add Shop" class="p-button-raised p-button-text"></button>
      </div>
  </div>

</div>
<p-table
#dt
[globalFilterFields]="['name','contact','type','id']"
styleClass="p-datatable-customers"
[value]="shops$ | async" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
<ng-template pTemplate="caption">
  <div class="table-header">
      List of Shops
      <span class="p-input-icon-left pull-right">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
      </span>
  </div>
</ng-template>
<ng-template pTemplate="header">
      <tr>
          <th>#</th>
          <th pSortableColumn="name">Name <p-sortIcon field="code"></p-sortIcon></th>
          <th pSortableColumn="contact">Contact <p-sortIcon field="code"></p-sortIcon></th>
          <th pSortableColumn="type">Type <p-sortIcon field="code"></p-sortIcon></th>
          <th>Actions</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-shop>
      <tr class="row-xd">
          <td>{{shop.id}}</td>
          <td>{{shop.name}}</td>
          <td>{{shop.contact | citiusPhone: 'US'}}</td>
          <td>{{shop.type}}</td>
          <td>
            <span class="m-1">
              <button (click)="deleteShop(shop.id)" pButton pRipple type="button" icon="pi pi-times" class="p-button-sm p-button-rounded p-button-outlined p-button-danger"></button>

            </span>
            <span class="m-1">
              <button routerLink="/shop/update/{{shop.id}}" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-sm p-button-outlined p-button-secondary"></button>

            </span>
          </td>
      </tr>
  </ng-template>
</p-table>
